<p>
  <input type="hidden" value="<%= @article.id %>" id="s-article-id">
</p>
<p>  
  <strong>Title</strong><br/>
  <%= @article.title %>
</p>
<p>
  <strong>Content</strong><br/>
  <%= @article.content %>
</p>

<h3>Comments</h3>
<% @comments.each do |comment| %>
<div data-id="<%= comment.id %>" class="s-comment">
  <p> <%= image_tag(User.find(comment.user_id).avatar_url(:small)) %><b><%= User.find(comment.user_id).nick_name %></b> <em><%= comment.created_at.strftime("%Y-%m-%d %H:%M") %> </em> 
  <% if(user_signed_in? && current_user.id == comment.user_id) %>
	<%= link_to 'Delete', {:controller => "comments", :action => "destroy", :id => comment}, :class => "s-delete" %>
  <% end %></p>
  <p><%= comment.content %></p>
</div>
<% end %>

<h4>Add Commentis</h4>
<%= form_tag(create_comment_path, :method => :post) do  %>
  <p>
	<%= text_area_tag :content %>
  </p>

  <p>
	<%= submit_tag :commit %>
  </p>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'Back', user_articles_path %>
<% else %>
  <%= link_to 'Back', root_path %>
<% end %>
